{% extends "shop/base.html" %}
{% load static %}
{% load i18n %}

{% block content %}

    {% csrf_token %}
    <a id="shop-ref" hidden="true" href="{% url 'shop' %}"></a>

    <script defer src="{% static 'shop/js/build/shop.js' %}"></script>

    <div class="hero-wrap hero-bread" style="background-image: url(/static/shop/images/bg_1.jpg);">
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
          	<p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home</a></span> <span>Products</span></p>
            <h1 class="mb-0 bread">Products</h1>
          </div>
        </div>
      </div>
    </div>



{% endblock %}